.asciinema_player.html-widget {
    height: 24em;
    padding-bottom: 3em;
  }
  
  .asciinema-player-wrapper {
    height: 24em;
    background: #121314;
  }
  
  .asciinema-player {
    height: 24em;
  }
  

//   .asciinema-player-wrapper, .asciinema_player {
//     height: 400px;
//   }
  
  