$font_text: 'Source Sans Pro';
$font_link: $font_text;
$font_fixed: 'PT Mono';
$rstudio_blue: #58A1D2;

$font_size_h1: 3em;
$font_size_h2: $font_size_h1 * 5/6;
$font_size_h3: $font_size_h1 * 4/6;

$header_colour: $rstudio_blue;

$link_colour: darken($rstudio_blue, 10%);
$hover_colour: darken($link_colour, 10%);
$hover_border_colour: darken($link_colour, 10%);
