.illustration {
  border: solid 1px #cccccc;
}
small {
  font-size: 0.6em;
}
h4 {
  margin-bottom: 15px; 
}
a {
  border-bottom: 0;
}
a:hover {
  color: #2a7cdf !important;
  border-bottom: 1px solid rgba(42, 124, 223, 0.5);
}
q, blockquote {
  quotes: "> '" "'";
  font-style: italic;
  font-size: 0.9em;
}
img {
  padding: 0.5em 0;
}