@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600");
@import url("https://fonts.googleapis.com/css?family=PT+Mono");
body {
  font-family: "Source Sans Pro";
  line-height: 1.2;
}

strong {
  font-family: "Source Sans Pro";
}

p {
  font-size: 24px;
  line-height: 1.2;
  margin: 0.75em 0 0.25em 0;
}

ul, ul p {
  line-height: 1.2em;
  margin: 0.25em 0 0.25em 0;
}

ul li, ul li p {
  font-size: 24px;
  line-height: 1.2;
}

ul li ul li, ul li ul li p {
  font-size: 20px;
  line-height: 1.2;
}

h1, h2, h3 {
  font-family: "Source Sans Pro";
  color: #58A1D2;
  font-weight: normal;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 32px;
}

a {
  font-family: "Source Sans Pro";
  font-size: 90%;
  color: #75AADB;
  border-bottom: 0;
}

a > code {
  font-family: "PT Mono";
  text-decoration: none;
  font-size: 80%;
}

a:hover {
  color: #2a7cdf !important;
  border-bottom: 1px solid rgba(42, 124, 223, 0.5);
}

q, blockquote {
  quotes: "> '" "'";
  font-style: italic;
}

q p, blockquote p {
  font-size: 24px;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  color: #4287c7;
}

img, video, iframe {
  max-width: 100%;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

table {
  margin: auto;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #ddd;
}

th, td {
  padding: 5px;
  font-size: 24px;
}

thead, tfoot, tr:nth-child(even) {
  background: #eee;
}

@page {
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100%;
    height: 100%;
    transform: scale(1);
    top: 0;
    left: 0;
  }
}

.remark-slide-content {
  font-size: 20px;
  line-height: 1.2;
}

.remark-code, .remark-inline-code, .remark-code-line {
  font-family: 'PT Mono';
  background-color: #f8f8f8;
}

.remark-code {
  font-size: 90%;
}

.remark-inline-code {
  font-size: 80%;
}

.remark-code-line-highlighted {
  background-color: #fff;
}

.remark-slide-number {
  bottom: 12px;
  opacity: .9;
  position: absolute;
  right: 40px;
  font-size: 10px;
}

/** Two-column layout **/
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right ~ * {
  clear: both;
}

.illustration {
  border: solid 1px #cccccc;
}

small {
  font-size: 0.6em;
}

h4 {
  margin-bottom: 15px;
}

img {
  padding: 0.5em 0;
}

/**
slide types: 
  * title-slide (used automatically),
  * subtitle-slide + white or blue,
  * panel-wide-slide,
  * panel-narrow-slide,
  * blank-slide + white or blue
**/
.title-slide,
.subtitle-slide,
.panel-narrow-slide,
.panel-wide-slide,
.your-turn-slide,
.blank-slide,
.blank-slide.blue {
  background-size: cover;
}

.title-slide {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/title.png");
  font-family: "Source Sans Pro";
  font-weight: normal;
  line-height: 1.2;
}

.title-slide h1, .title-slide h2, .title-slide h3 {
  color: #fff;
}

.title-slide h1 {
  font-size: 80px;
  line-height: 1.2;
}

.title-slide h2 {
  font-size: 36px;
}

.title-slide h3 {
  font-size: 24px;
}

.title-slide .remark-slide-number {
  display: none;
}

.subtitle-slide {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/panel-wide.png");
  padding-left: 360px;
  text-align: center;
  vertical-align: middle;
}

.toc-slide {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/panel-wide.png");
  padding-left: 180px;
}

.panel-narrow-slide {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/panel-narrow.png");
  padding-left: 180px;
}

.panel-wide-slide {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/panel-wide.png");
  padding-left: 360px;
}

.your-turn-slide {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/your-turn.png");
  padding-left: 360px;
}

.subtitle-slide.blue {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/subtitle-blue.png");
}

.blank-slide.blue {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/blank-blue.png");
}

.blue {
  color: #fff;
}

.subtitle-slide.white {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/subtitle-white.png");
}

.blank-slide.white {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/blank-white.png");
}

.white {
  color: #404040;
}

.navigation-buttons {
  bottom: 10px;
  opacity: .6;
  position: absolute;
  font-size: 20px;
  font-weight: normal;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 3px;
}

.title-slide .navigation-buttons {
  color: #ffffff;
  opacity: 1;
}

.navigation-buttons:hover {
  opacity: 0.8;
  font-weight: 800;
  color: #000;
  background-color: #aaa;
}

.navigation-buttons-first {
  right: 210px;
}

.navigation-buttons-prev {
  right: 180px;
}

.navigation-buttons-next {
  right: 150px;
}

.navigation-buttons-last {
  right: 110px;
}

