@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600");
@import url("https://fonts.googleapis.com/css?family=PT+Mono");
body {
  font-family: "Source Sans Pro";
  line-height: 1.2;
}

strong {
  font-family: "Source Sans Pro";
}

p {
  font-size: 28px;
  line-height: 1.2;
  margin: 0.75em 0 0.25em 0;
}

ul, ul p {
  line-height: 1.2em;
  margin: 0.25em 0 0.25em 0;
}

.table-of-contents {
  padding: 25px 0px;
}

.table-of-contents ul {
  list-style-type: none;
}

.table-of-contents ul li, .table-of-contents ul li p {
  font-size: 1.5em;
}

.table-of-contents a {
  font-family: "Source Sans Pro";
  font-size: 100%;
  color: grey;
  text-decoration: none;
}

.table-of-contents .toc-active {
  color: #58A1D2;
  border-style: solid;
  background-color: #eee;
  border-radius: 7px;
}

.toc-1-entries ul li, .toc-1-entries ul li p {
  font-size: 29.5px;
  margin: 0.5em;
}

.toc-2-entries ul li, .toc-2-entries ul li p {
  font-size: 29px;
  margin: 0.5em;
}

.toc-3-entries ul li, .toc-3-entries ul li p {
  font-size: 28.5px;
  margin: 0.5em;
}

.toc-4-entries ul li, .toc-4-entries ul li p {
  font-size: 28px;
  margin: 0.5em;
}

.toc-5-entries ul li, .toc-5-entries ul li p {
  font-size: 27.5px;
  margin: 0.5em;
}

.toc-6-entries ul li, .toc-6-entries ul li p {
  font-size: 27px;
  margin: 0.3em;
}

.toc-7-entries ul li, .toc-7-entries ul li p {
  font-size: 26.5px;
  margin: 0.3em;
}

.toc-8-entries ul li, .toc-8-entries ul li p {
  font-size: 26px;
  margin: 0.3em;
}

.toc-9-entries ul li, .toc-9-entries ul li p {
  font-size: 25.5px;
  margin: 0.3em;
}

.toc-10-entries ul li, .toc-10-entries ul li p {
  font-size: 25px;
  margin: 0.3em;
}

.toc-11-entries ul li, .toc-11-entries ul li p {
  font-size: 20.5px;
  margin: 0.2em;
}

.toc-12-entries ul li, .toc-12-entries ul li p {
  font-size: 20px;
  margin: 0.2em;
}

.toc-13-entries ul li, .toc-13-entries ul li p {
  font-size: 19.5px;
  margin: 0.2em;
}

.toc-14-entries ul li, .toc-14-entries ul li p {
  font-size: 19px;
  margin: 0.2em;
}

.toc-15-entries ul li, .toc-15-entries ul li p {
  font-size: 18.5px;
  margin: 0.2em;
}

.toc-16-entries ul li, .toc-16-entries ul li p {
  font-size: 18px;
  margin: 0.1em;
}

.toc-17-entries ul li, .toc-17-entries ul li p {
  font-size: 17.5px;
  margin: 0.1em;
}

.toc-18-entries ul li, .toc-18-entries ul li p {
  font-size: 17px;
  margin: 0.1em;
}

.toc-19-entries ul li, .toc-19-entries ul li p {
  font-size: 16.5px;
  margin: 0.1em;
}

.toc-20-entries ul li, .toc-20-entries ul li p {
  font-size: 16px;
  margin: 0.1em;
}

ul li, ul li p {
  font-size: 24px;
  line-height: 1.2;
}

ul li ul li, ul li ul li p {
  font-size: 20px;
  line-height: 1.2;
}

h1, h2, h3 {
  font-family: "Source Sans Pro";
  color: #58A1D2;
  font-weight: normal;
}

.remark-slide-content h1 {
  font-size: 3em;
}

.remark-slide-content h2 {
  font-size: 2.5em;
}

.remark-slide-content h3 {
  font-size: 2em;
}

.remark-slide-content h4 {
  margin-bottom: 1em;
}

a {
  font-family: "Source Sans Pro";
  font-size: 90%;
  color: #3489c3;
  border-bottom: 0;
}

a > code {
  font-family: "PT Mono";
  text-decoration: none;
  font-size: 80%;
}

a:hover {
  color: #2a6d9a !important;
  border-bottom: 1px solid #2a6d9a;
}

q, blockquote {
  quotes: "> '" "'";
  font-style: italic;
}

q p, blockquote p {
  font-size: 24px;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  color: #4287c7;
}

img, video, iframe {
  max-width: 100%;
}

blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}

table {
  margin: auto;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #ddd;
}

th, td {
  padding: 5px;
  font-size: 24px;
}

thead, tfoot, tr:nth-child(even) {
  background: #eee;
}

@page {
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100%;
    height: 100%;
    transform: scale(1);
    top: 0;
    left: 0;
  }
}

.remark-slide-content {
  font-size: 20px;
  line-height: 1.2;
}

.remark-code, .remark-inline-code, .remark-code-line {
  font-family: 'PT Mono';
  background-color: #f8f8f8;
  font-size: 90%;
}

li .remark-code, li .remark-inline-code, li .remark-code-line {
  font-family: 'PT Mono';
  background-color: #f8f8f8;
  font-size: 90%;
}

code, .remark-code, .remark-inline-code {
  font-size: 90%;
}

.remark-code-line-highlighted {
  background-color: #fff;
}

.breadcrumb-previous-header {
  top: 12px;
  opacity: .9;
  position: absolute;
  right: 20px;
  font-size: 15px;
}

.breadcrumb-previous-header a {
  text-decoration: none;
}

.remark-slide-number {
  bottom: 12px;
  opacity: .9;
  position: absolute;
  right: 40px;
  font-size: 15px;
}

/** Two-column layout **/
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right ~ * {
  clear: both;
}

.illustration {
  border: solid 1px #cccccc;
}

small {
  font-size: 0.6em;
}

img {
  padding: 0.5em 0;
}

.small p {
  font-size: 90%;
}

.smaller p {
  font-size: 80%;
}

.smallest p {
  font-size: 75%;
}

.large {
  font-size: 110%;
}

.larger {
  font-size: 120%;
}

.largest {
  font-size: 150%;
}

.caption, .caption p {
  font-size: 90%;
}

/**
slide types: 
  * title-slide (used automatically),
  * subtitle-slide + white or blue,
  * panel-wide-slide,
  * panel-narrow-slide,
  * blank-slide + white or blue
**/
.title-slide,
.subtitle-slide,
.panel-narrow-slide,
.panel-wide-slide,
.your-turn-slide,
.blank-slide,
.blank-slide.blue {
  background-size: cover;
}

.title-slide {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/title.png");
  font-family: "Source Sans Pro";
  font-weight: normal;
  line-height: 1.2;
}

.title-slide h1, .title-slide h2, .title-slide h3 {
  color: #fff;
}

.title-slide h1 {
  font-size: 80px;
  line-height: 1.2;
}

.title-slide h2 {
  font-size: 36px;
}

.title-slide h3 {
  font-size: 24px;
  margin: 0.5em 0;
}

.title-slide .remark-slide-number {
  display: none;
}

.subtitle-slide {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/panel-wide.png");
  padding-left: 360px;
  text-align: center;
}

.toc-slide {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/panel-wide.png");
  padding-left: 180px;
}

.panel-narrow-slide {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/panel-narrow.png");
  padding-left: 180px;
}

.panel-wide-slide {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/panel-wide.png");
  padding-left: 360px;
}

.your-turn-slide {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/your-turn.png");
  padding-left: 360px;
}

.subtitle-slide.blue {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/subtitle-blue.png");
}

.blank-slide.blue {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/blank-blue.png");
}

.blue {
  color: #fff;
}

.subtitle-slide.white {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/subtitle-white.png");
}

.blank-slide.white {
  background-image: url("https://cdn.rstudio.com/pro-admin/template/blank-white.png");
}

.white {
  color: #404040;
}

.navigation-buttons {
  bottom: 10px;
  opacity: .6;
  position: absolute;
  font-size: 20px;
  font-weight: normal;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 3px;
}

.title-slide .navigation-buttons {
  color: #ffffff;
  opacity: 1;
}

.navigation-buttons:hover {
  opacity: 0.8;
  font-weight: 800;
  color: #000;
  background-color: #aaa;
}

.navigation-buttons-first {
  right: 210px;
}

.navigation-buttons-prev {
  right: 180px;
}

.navigation-buttons-next {
  right: 150px;
}

.navigation-buttons-last {
  right: 110px;
}

.asciinema_player.html-widget {
  height: 24em;
  padding-bottom: 3em;
}

.asciinema-player-wrapper {
  height: 24em;
  background: #121314;
}

.asciinema-player {
  height: 24em;
}

